@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

.registration-page {
  height: 100%;
  background-color: #0081c9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.sign-up {
  flex: 1; /* will stretch the width of the signup-form to fit the screen and that’s what I want for the small screen. */
  max-width: 600px; /*  the bigger screen. For that, set the max-width to 600px. */
  background-color: #ffc93c;
  border: 1px solid #86e5ff;
}

.form-header {
  padding: 15px 0;
  border: 1px solid #cccccc;
}

.form-header h1 {
  font-size: 28px;
  text-align: center;
  color: #666;
}

.form-body {
  background-color: #fff9c4;
  padding: 5px 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-group {
  flex: 1; /* flex will stretch the width of input-group inside form(sing-up) */
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

label {
  color: black;
  font-size: 17px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="number"],
select {
  width: 100%;
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
}

/* checkbox & radio button */

.radio-group,
.checkbox-group {
  display: flex;
}

.radio-group div,
.checkbox-group div {
  flex: 1;
}

.radio-group label,
.checkbox-group label {
  color: #666;
  cursor: pointer;
}

.range-group {
  display: flex;
}

.range-group input {
  flex: 1;
}

.range-group label {
  margin-left: 10px;
  background-color: #ffc93c;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 17px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}
